In [87]:
import pandas as pd
import numpy as np
import os
import gzip
import pickle
import re
import copy
from tqdm import tqdm
import time
import json
# pd.set_option('display.max_columns', 5000)
pd.set_option('display.max_rows', 100)

In [88]:
# Timestamp Graph,Intervals (Row),Network hashrate (TH/s),Bitcoins per block (BTC)
# 02/01/2009,1,4.97E-08,50
BitcoinData = pd.read_csv('BitcoinData.csv') 

df2 = pd.DataFrame(columns=['date', 'hashrate','block'])

df2['date'] = pd.to_datetime(BitcoinData['Timestamp Graph'], format='%d/%m/%Y')
df2['hashrate'] = BitcoinData['Network hashrate (TH/s)']*1e12
df2['block'] = BitcoinData['Bitcoins per block (BTC)']

df2 = df2.dropna()
df2

           date      hashrate  block
0    2009-01-02  4.970000e+04  50.00
1    2009-01-05  4.970000e+04  50.00
2    2009-01-08  6.960000e+05  50.00
3    2009-01-11  4.420000e+06  50.00
4    2009-01-14  6.310000e+06  50.00
...         ...           ...    ...
1638 2022-06-18  2.350000e+20   6.25
1639 2022-06-21  2.260000e+20   6.25
1640 2022-06-24  1.900000e+20   6.25
1641 2022-06-27  2.000000e+20   6.25
1642 2022-06-30  2.510000e+20   6.25

[1643 rows x 3 columns]

In [89]:
hashrate = json.load(open('hashrate.json'))

# x	y
# 1231545600000	1.065220e-07
BitcoinData2 = pd.DataFrame(hashrate["hash-rate"])
BitcoinData2["date"] = pd.to_datetime(BitcoinData2["x"], unit='ms')
BitcoinData2["hashrate"] = BitcoinData2["y"]*1e12
BitcoinData2 = BitcoinData2.drop(columns=["x", "y"])

In [90]:
BitcoinData2

           date      hashrate
0    2009-01-10  1.065220e+05
1    2009-01-14  2.521021e+06
2    2009-01-18  5.588855e+06
3    2009-01-22  5.681174e+06
4    2009-01-26  6.270595e+06
...         ...           ...
1384 2024-03-08  5.928970e+20
1385 2024-03-12  6.294408e+20
1386 2024-03-16  5.963760e+20
1387 2024-03-20  6.010169e+20
1388 2024-03-24  6.003264e+20

[1389 rows x 2 columns]

In [91]:
temp = BitcoinData2[BitcoinData2["date"] > df2["date"].max()]
temp

           date      hashrate
1230 2022-07-01  2.146114e+20
1231 2022-07-05  2.179713e+20
1232 2022-07-09  2.061507e+20
1233 2022-07-13  2.059578e+20
1234 2022-07-17  1.968833e+20
...         ...           ...
1384 2024-03-08  5.928970e+20
1385 2024-03-12  6.294408e+20
1386 2024-03-16  5.963760e+20
1387 2024-03-20  6.010169e+20
1388 2024-03-24  6.003264e+20

[159 rows x 2 columns]

In [92]:


# df2 is not defined for values above 2022
df2 = pd.concat([df2, temp])

# if block is nan, it should be 6.25
df2['block'] = df2['block'].fillna(6.25)

In [93]:
df2

           date      hashrate  block
0    2009-01-02  4.970000e+04  50.00
1    2009-01-05  4.970000e+04  50.00
2    2009-01-08  6.960000e+05  50.00
3    2009-01-11  4.420000e+06  50.00
4    2009-01-14  6.310000e+06  50.00
...         ...           ...    ...
1384 2024-03-08  5.928970e+20   6.25
1385 2024-03-12  6.294408e+20   6.25
1386 2024-03-16  5.963760e+20   6.25
1387 2024-03-20  6.010169e+20   6.25
1388 2024-03-24  6.003264e+20   6.25

[1802 rows x 3 columns]

In [94]:
# for each month in df2, get the monthly average and store it with the date being the first day of the month

# Create a 'month' column by offsetting the 'date' by 15 days and then using to_period
from datetime import timedelta
df2['month'] = (df2['date'] - timedelta(days=15)).dt.to_period('M')

# Group by 'month' and calculate the mean
df2 = df2.groupby('month')[["hashrate","block"]].mean().reset_index()

# Convert 'month' back to datetime (first day of the month)
df2['date'] = df2['month'].dt.to_timestamp()
df2 = df2.drop(columns=["month"])
df2

         hashrate  block       date
0    2.305080e+06  50.00 2008-12-01
1    6.416000e+06  50.00 2009-01-01
2    5.573000e+06  50.00 2009-02-01
3    5.564000e+06  50.00 2009-03-01
4    5.999000e+06  50.00 2009-04-01
..            ...    ...        ...
179  4.852831e+20   6.25 2023-11-01
180  5.167069e+20   6.25 2023-12-01
181  5.446286e+20   6.25 2024-01-01
182  5.782587e+20   6.25 2024-02-01
183  5.992398e+20   6.25 2024-03-01

[184 rows x 3 columns]

In [95]:
df2.to_csv('BitcoinData2.csv', index=False)

In [96]:
# Start,End,Open,High,Low,Close,Volume,Market Cap
# 2024-03-08,2024-03-09,66871.2,69451.15,66398.03,68202.87,71117263448.78049,1329444482209.993
price = pd.read_csv('../../pricehistory/price_full.csv') 



# Date,ln(P_max),Data monthly average,Model ln(P_eff)
# 2011-04-01,-12.485786548332777,1.6612383008356546e-06,1.5657608695648479e-06
efficiency = pd.read_csv('../7_plotting/efficiency.csv') 

df1 = pd.DataFrame(columns=['date', 'price'])
df3 = pd.DataFrame(columns=['date', 'efficiency'])


df1['date'] = pd.to_datetime(price['Start'])
df1['price'] = price['Close']

df3['date'] = pd.to_datetime(efficiency['month'], format='%Y-%m-%d')
df3['efficiency'] = efficiency['TH/J']*1e12

joined = pd.merge(df1, df2, on='date', how='inner')
joined = pd.merge(joined, df3, on='date', how='inner')
joined = joined.dropna()

In [97]:
pd.set_option('display.max_rows', None)
joined.sample(10)

          date         price      hashrate  block    efficiency
130 2012-12-01     12.562000  2.257000e+13  25.00  1.089247e+07
124 2013-06-01    129.300000  1.824000e+14  25.00  5.057173e+08
103 2015-03-01    260.371000  3.516000e+17  25.00  1.257919e+09
95  2015-11-01    325.732000  5.947000e+17  25.00  2.093899e+09
28  2021-06-01  36606.390000  1.003200e+20   6.25  1.768247e+10
16  2022-06-01  29789.421134  2.162990e+20   6.25  1.544686e+10
46  2019-12-01   7417.184162  1.013200e+20  12.50  1.182935e+10
14  2022-08-01  23311.592835  2.185533e+20   6.25  1.480476e+10
49  2019-09-01   9716.721910  9.177000e+19  12.50  1.317336e+10
18  2022-04-01  46231.004759  2.112000e+20   6.25  1.737282e+10

In [98]:
joined["reward"] = joined["block"]*joined["price"]

data = []

for i in range(len(joined)):
    date = joined['date'].iloc[i]
    hashrate = joined['hashrate'].iloc[i]
    efficiency = joined['efficiency'].iloc[i]
    reward = joined['reward'].iloc[i]
    aux = 2.0
    electricity_cost = 0.05/(1000*3600)
    constant = 6
    watts = hashrate/efficiency
    top = watts*aux*electricity_cost
    reward_per_second = reward/600
    bottom = constant*reward_per_second
    cost = top/bottom
    data.append([date, cost])
    
    print(f"date: {date}")
    # print(f"hashrate: {hashrate}")
    # print(f"efficiency: {efficiency}")
    print(f"watts: {watts}")
    print(f"top: {top}")
    print(f"reward: {reward}")
    print(f"bottom: {bottom}")
    print(f"cost: {cost}")
    print("\n\n")

df = pd.DataFrame(data, columns=['date', 'cost'])

date: 2023-10-01 00:00:00
watts: 15507097314.823082
top: 430.7527031895301
reward: 174863.125
bottom: 1748.63125
cost: 0.24633707260437565



date: 2023-09-01 00:00:00
watts: 20906375194.19472
top: 580.7326442831868
reward: 161353.5625
bottom: 1613.535625
cost: 0.35991312201934605



date: 2023-08-01 00:00:00
watts: 27744290860.884155
top: 770.6747461356711
reward: 185182.75
bottom: 1851.8275
cost: 0.4161698355465998



date: 2023-07-01 00:00:00
watts: 17164123372.659256
top: 476.7812047960905
reward: 191181.5625
bottom: 1911.8156250000002
cost: 0.24938660326938716



date: 2023-06-01 00:00:00
watts: 18862482747.383854
top: 523.957854093996
reward: 167543.625
bottom: 1675.43625
cost: 0.3127292095381105



date: 2023-05-01 00:00:00
watts: 17890367781.45343
top: 496.95466059592866
reward: 175527.875
bottom: 1755.27875
cost: 0.28312008026983104



date: 2023-04-01 00:00:00
watts: 23468200342.987675
top: 651.8944539718799
reward: 177905.08761113856
bottom: 1779.0508761113856
cost: 0.366428224580501



date: 2023-03-01 00:00:00
watts: 19635506120.56339
top: 545.4307255712052
reward: 147871.250625
bottom: 1478.71250625
cost: 0.36885515153612386



date: 2023-02-01 00:00:00
watts: 15133765750.865246
top: 420.3823819684791
reward: 148162.90187499998
bottom: 1481.62901875
cost: 0.2837298518377707



date: 2023-01-01 00:00:00
watts: 14399707533.725285
top: 399.9918759368135
reward: 103794.18412024027
bottom: 1037.9418412024027
cost: 0.38537022023646655



date: 2022-12-01 00:00:00
watts: 18204414115.67339
top: 505.67816987981644
reward: 105976.18312499998
bottom: 1059.76183125
cost: 0.47716208960211737



date: 2022-11-01 00:00:00
watts: 14987886880.951773
top: 416.33019113754926
reward: 128009.718125
bottom: 1280.09718125
cost: 0.32523326918899054



date: 2022-10-01 00:00:00
watts: 13973938481.024277
top: 388.16495780622995
reward: 120657.32437500001
bottom: 1206.57324375
cost: 0.321708574110116



date: 2022-09-01 00:00:00
watts: 14033564725.347872
top: 389.82124237077426
reward: 125909.9275
bottom: 1259.099275
cost: 0.309603261721181



date: 2022-08-01 00:00:00
watts: 14762364498.52991
top: 410.06568051471976
reward: 145697.4552208811
bottom: 1456.974552208811
cost: 0.2814501323259556



date: 2022-07-01 00:00:00
watts: 11173165228.799688
top: 310.3657007999914
reward: 120850.65275679187
bottom: 1208.5065275679185
cost: 0.2568175626031517



date: 2022-06-01 00:00:00
watts: 14002782317.135347
top: 388.9661754759819
reward: 186183.88208481832
bottom: 1861.8388208481833
cost: 0.20891506349555203



date: 2022-05-01 00:00:00
watts: 12191952018.706081
top: 338.66533385294673
reward: 240419.3375
bottom: 2404.193375
cost: 0.14086443186083014



date: 2022-04-01 00:00:00
watts: 12156917897.830128
top: 337.6921638286147
reward: 288943.77974628203
bottom: 2889.43779746282
cost: 0.11687123499427399



date: 2022-03-01 00:00:00
watts: 10938925105.114672
top: 303.8590306976298
reward: 277249.195
bottom: 2772.49195
cost: 0.10959780449412299



date: 2022-02-01 00:00:00
watts: 11935833512.790073
top: 331.5509309108354
reward: 242262.301875
bottom: 2422.62301875
cost: 0.13685617958088486



date: 2022-01-01 00:00:00
watts: 12268462492.116741
top: 340.7906247810206
reward: 297153.12125
bottom: 2971.5312125
cost: 0.11468519103802635



date: 2021-12-01 00:00:00
watts: 9746755653.573587
top: 270.74321259926637
reward: 357331.746875
bottom: 3573.3174687500004
cost: 0.07576802648155871



date: 2021-11-01 00:00:00
watts: 8297313352.791203
top: 230.48092646642232
reward: 381656.4441688788
bottom: 3816.5644416887876
cost: 0.06038963313414854



date: 2021-10-01 00:00:00
watts: 9114376349.90053
top: 253.1771208305703
reward: 300502.3302396143
bottom: 3005.0233023961428
cost: 0.0842513003572026



date: 2021-09-01 00:00:00
watts: 7185015739.603641
top: 199.5837705445456
reward: 304653.95125
bottom: 3046.5395125
cost: 0.06551163040086964



date: 2021-08-01 00:00:00
watts: 7542040887.274839
top: 209.50113575763444
reward: 250754.37947630044
bottom: 2507.5437947630044
cost: 0.0835483456740324



date: 2021-07-01 00:00:00
watts: 6418700432.774701
top: 178.2972342437417
reward: 210179.1875
bottom: 2101.791875
cost: 0.08483106075559538



date: 2021-06-01 00:00:00
watts: 5673416961.753956
top: 157.59491560427657
reward: 228789.9375
bottom: 2287.899375
cost: 0.06888192606996825



date: 2021-05-01 00:00:00
watts: 10483246053.527363
top: 291.201279264649
reward: 361209.49292653124
bottom: 3612.094929265312
cost: 0.08061839042637739



date: 2021-04-01 00:00:00
watts: 11732709848.806719
top: 325.9086069112978
reward: 367222.59486196877
bottom: 3672.2259486196876
cost: 0.08874960622556463



date: 2021-03-01 00:00:00
watts: 14215356541.144642
top: 394.87101503179565
reward: 309737.10534763127
bottom: 3097.3710534763127
cost: 0.12748586082013486



date: 2021-02-01 00:00:00
watts: 10836799887.311842
top: 301.0222190919956
reward: 209459.00747260626
bottom: 2094.5900747260625
cost: 0.14371414374784733



date: 2021-01-01 00:00:00
watts: 10163174053.80947
top: 282.31039038359637
reward: 183126.19334891875
bottom: 1831.2619334891876
cost: 0.15416166590963717



date: 2020-12-01 00:00:00
watts: 11381892087.955917
top: 316.1636691098866
reward: 117844.02337684376
bottom: 1178.4402337684376
cost: 0.268289948060287



date: 2020-11-01 00:00:00
watts: 12320580149.46802
top: 342.2383374852228
reward: 85843.7928601625
bottom: 858.437928601625
cost: 0.3986756946337645



date: 2020-10-01 00:00:00
watts: 9220928867.108833
top: 256.1369129752454
reward: 66339.39579294376
bottom: 663.3939579294376
cost: 0.38610076247105285



date: 2020-09-01 00:00:00
watts: 9523528036.250753
top: 264.54244545140983
reward: 74510.968226825
bottom: 745.10968226825
cost: 0.3550382604693772



date: 2020-08-01 00:00:00
watts: 7519722212.584412
top: 208.88117257178922
reward: 73752.43668853125
bottom: 737.5243668853125
cost: 0.28321935104860196



date: 2020-07-01 00:00:00
watts: 7189626837.211957
top: 199.71185658922104
reward: 57660.42600877501
bottom: 576.60426008775
cost: 0.3463586213511986



date: 2020-06-01 00:00:00
watts: 7105921318.589602
top: 197.38670329415564
reward: 63611.0647106125
bottom: 636.110647106125
cost: 0.31030246733352473



date: 2020-05-01 00:00:00
watts: 6891482125.337609
top: 191.43005903715584
reward: 55206.1328195625
bottom: 552.061328195625
cost: 0.3467550600996306



date: 2020-04-01 00:00:00
watts: 9137731345.613289
top: 253.82587071148026
reward: 74230.72891603876
bottom: 742.3072891603875
cost: 0.3419417731955439



date: 2020-03-01 00:00:00
watts: 8119994513.239457
top: 225.5554031455405
reward: 106968.80446980002
bottom: 1069.688044698
cost: 0.2108609180625371



date: 2020-02-01 00:00:00
watts: 8242592011.9836235
top: 228.96088922176733
reward: 117326.3206452375
bottom: 1173.263206452375
cost: 0.19514878499776878



date: 2020-01-01 00:00:00
watts: 6302804077.585304
top: 175.07789104403625
reward: 90173.9807777125
bottom: 901.739807777125
cost: 0.19415566390001127



date: 2019-12-01 00:00:00
watts: 8565139858.300233
top: 237.92055161945095
reward: 92714.8020235875
bottom: 927.148020235875
cost: 0.2566154987408826



date: 2019-11-01 00:00:00
watts: 7074598383.03425
top: 196.51662175095143
reward: 115321.924278475
bottom: 1153.21924278475
cost: 0.17040699154170422



date: 2019-10-01 00:00:00
watts: 8175750411.045427
top: 227.10417808459522
reward: 103684.29495810001
bottom: 1036.842949581
cost: 0.21903430811423327



date: 2019-09-01 00:00:00
watts: 6966333753.674487
top: 193.50927093540244
reward: 121459.0238711125
bottom: 1214.590238711125
cost: 0.15932062087107401



date: 2019-08-01 00:00:00
watts: 6961974890.207786
top: 193.38819139466074
reward: 129574.80906806249
bottom: 1295.748090680625
cost: 0.14924829354221053



date: 2019-07-01 00:00:00
watts: 6115844261.665728
top: 169.884562824048
reward: 132975.0408908875
bottom: 1329.750408908875
cost: 0.1277567291469732



date: 2019-06-01 00:00:00
watts: 6297889135.812939
top: 174.94136488369276
reward: 107451.37280281249
bottom: 1074.513728028125
cost: 0.16280979974516785



date: 2019-05-01 00:00:00
watts: 5874816534.34485
top: 163.18934817624583
reward: 67360.23666153749
bottom: 673.602366615375
cost: 0.24226362059298773



date: 2019-04-01 00:00:00
watts: 4814543684.468753
top: 133.73732456857647
reward: 52526.564371425
bottom: 525.26564371425
cost: 0.2546089320118012



date: 2019-03-01 00:00:00
watts: 4500200786.366605
top: 125.00557739907237
reward: 47928.628625862504
bottom: 479.28628625862507
cost: 0.2608160946454011



date: 2019-02-01 00:00:00
watts: 4452471567.405981
top: 123.67976576127727
reward: 43430.007680074996
bottom: 434.30007680075
cost: 0.2847795162099858



date: 2019-01-01 00:00:00
watts: 5336195491.057414
top: 148.22765252937262
reward: 48139.7701754875
bottom: 481.397701754875
cost: 0.3079110099384091



date: 2018-12-01 00:00:00
watts: 4702458183.921299
top: 130.62383844225832
reward: 52605.87153675
bottom: 526.0587153675
cost: 0.24830657610340257



date: 2018-11-01 00:00:00
watts: 4535891095.973035
top: 125.99697488813987
reward: 79603.82670035
bottom: 796.0382670035
cost: 0.158280047719849



date: 2018-10-01 00:00:00
watts: 5232351319.646864
top: 145.3430922124129
reward: 82450.2262304375
bottom: 824.5022623043751
cost: 0.17627979795494814



date: 2018-09-01 00:00:00
watts: 5532806853.38546
top: 153.68907926070725
reward: 89915.6091643625
bottom: 899.1560916436249
cost: 0.17092591674463234



date: 2018-08-01 00:00:00
watts: 5130227838.169198
top: 142.50632883803328
reward: 94959.02253452501
bottom: 949.5902253452501
cost: 0.1500713939912567



date: 2018-07-01 00:00:00
watts: 5233135544.675996
top: 145.3648762409999
reward: 79555.0230230625
bottom: 795.5502302306251
cost: 0.1827224362676126



date: 2018-06-01 00:00:00
watts: 4527350667.02018
top: 125.75974075056057
reward: 94068.4224596875
bottom: 940.6842245968749
cost: 0.13368964575169126



date: 2018-05-01 00:00:00
watts: 4016696667.957875
top: 111.57490744327431
reward: 113710.1252733875
bottom: 1137.101252733875
cost: 0.09812222717635778



date: 2018-04-01 00:00:00
watts: 3067424613.2831182
top: 85.20623925786441
reward: 85382.88221645
bottom: 853.8288221645
cost: 0.09979311665992044



date: 2018-03-01 00:00:00
watts: 3110665238.6199555
top: 86.40736773944322
reward: 136622.06871826248
bottom: 1366.2206871826247
cost: 0.06324554191726495



date: 2018-02-01 00:00:00
watts: 2735773025.1429043
top: 75.99369514285846
reward: 114640.617109575
bottom: 1146.40617109575
cost: 0.0662886305559771



date: 2018-01-01 00:00:00
watts: 2444471079.14289
top: 67.90197442063584
reward: 169714.8569369625
bottom: 1697.148569369625
cost: 0.04000944622417871



date: 2017-12-01 00:00:00
watts: 1860782547.7516088
top: 51.688404104211365
reward: 137095.81021805
bottom: 1370.9581021805
cost: 0.037702395151245904



date: 2017-11-01 00:00:00
watts: 1514642060.1240413
top: 42.073390559001155
reward: 84389.6231274
bottom: 843.896231274
cost: 0.0498561185603169



date: 2017-10-01 00:00:00
watts: 1335521962.185247
top: 37.09783228292353
reward: 54514.2496662
bottom: 545.142496662
cost: 0.06805162413512035



date: 2017-09-01 00:00:00
watts: 1413855778.8025808
top: 39.273771633405026
reward: 60997.0
bottom: 609.97
cost: 0.06438639873010972



date: 2017-08-01 00:00:00
watts: 1213830947.1219547
top: 33.71752630894319
reward: 33920.375
bottom: 339.20375
cost: 0.09940198570606366



date: 2017-07-01 00:00:00
watts: 996490943.2874545
top: 27.68030398020707
reward: 30444.625000000004
bottom: 304.4462500000001
cost: 0.09092016728800918



date: 2017-06-01 00:00:00
watts: 1096738078.635129
top: 30.464946628753587
reward: 30022.500000000004
bottom: 300.225
cost: 0.1014737168082391



date: 2017-05-01 00:00:00
watts: 940841874.8514329
top: 26.134496523650917
reward: 17781.25
bottom: 177.8125
cost: 0.14697783633687686



date: 2017-04-01 00:00:00
watts: 628447160.3269346
top: 17.456865564637074
reward: 13503.5
bottom: 135.035
cost: 0.1292765991382758



date: 2017-03-01 00:00:00
watts: 543200124.5929043
top: 15.088892349802899
reward: 15267.75
bottom: 152.6775
cost: 0.09882852646790063



date: 2017-02-01 00:00:00
watts: 693753826.801377
top: 19.270939633371587
reward: 12363.925000000001
bottom: 123.63925
cost: 0.15586425535072063



date: 2017-01-01 00:00:00
watts: 550584998.4910735
top: 15.294027735863153
reward: 12472.212500000001
bottom: 124.72212500000002
cost: 0.12262481685477337



date: 2016-12-01 00:00:00
watts: 555092268.3875396
top: 15.419229677431657
reward: 9456.6
bottom: 94.566
cost: 0.16305257362510475



date: 2016-11-01 00:00:00
watts: 367350792.14182556
top: 10.204188670606266
reward: 9119.925000000001
bottom: 91.19925
cost: 0.11188895380835111



date: 2016-10-01 00:00:00
watts: 357618168.376206
top: 9.933838010450167
reward: 7674.5625
bottom: 76.745625
cost: 0.12943849255837275



date: 2016-09-01 00:00:00
watts: 347122252.3045318
top: 9.642284786236996
reward: 7153.5
bottom: 71.535
cost: 0.13479114819650515



date: 2016-08-01 00:00:00
watts: 325070159.0826171
top: 9.02972664118381
reward: 7574.612500000001
bottom: 75.746125
cost: 0.11921041031714572



date: 2016-07-01 00:00:00
watts: 279442380.95215625
top: 7.762288359782119
reward: 8449.550000000001
bottom: 84.49550000000002
cost: 0.09186629299527332



date: 2016-06-01 00:00:00
watts: 409414185.255251
top: 11.372616257090307
reward: 12101.827500000001
bottom: 121.01827500000002
cost: 0.09397437087159197



date: 2016-05-01 00:00:00
watts: 483833942.81445456
top: 13.43983174484596
reward: 11292.075
bottom: 112.92075
cost: 0.11902003613017059



date: 2016-04-01 00:00:00
watts: 602615678.4317652
top: 16.739324400882367
reward: 10445.55
bottom: 104.4555
cost: 0.1602531642745702



date: 2016-03-01 00:00:00
watts: 592021156.6073542
top: 16.445032127982063
reward: 10877.525
bottom: 108.77525
cost: 0.1511835838389897



date: 2016-02-01 00:00:00
watts: 500862552.51316684
top: 13.912848680921302
reward: 9323.55
bottom: 93.2355
cost: 0.14922265318383343



date: 2016-01-01 00:00:00
watts: 489224639.10838073
top: 13.589573308566132
reward: 10849.325
bottom: 108.49325
cost: 0.1252573160870942



date: 2015-12-01 00:00:00
watts: 323586960.40161157
top: 8.988526677822545
reward: 9059.675
bottom: 90.59675
cost: 0.0992146702593917



date: 2015-11-01 00:00:00
watts: 284015638.3611327
top: 7.889323287809242
reward: 8143.300000000001
bottom: 81.433
cost: 0.09688115736629181



date: 2015-10-01 00:00:00
watts: 248464842.71151924
top: 6.901801186431091
reward: 5938.775
bottom: 59.38775
cost: 0.11621590625054984



date: 2015-09-01 00:00:00
watts: 234700124.71342516
top: 6.519447908706255
reward: 5701.15
bottom: 57.0115
cost: 0.11435320783887909



date: 2015-08-01 00:00:00
watts: 265835712.12775052
top: 7.384325336881959
reward: 7050.325
bottom: 70.50325000000001
cost: 0.1047373750413202



date: 2015-07-01 00:00:00
watts: 245913002.95915577
top: 6.830916748865438
reward: 6466.275000000001
bottom: 64.66275000000002
cost: 0.10563913147624307



date: 2015-06-01 00:00:00
watts: 269859910.52152264
top: 7.496108625597852
reward: 5573.15
bottom: 55.7315
cost: 0.13450398115245155



date: 2015-05-01 00:00:00
watts: 242271705.5079847
top: 6.72976959744402
reward: 5803.875
bottom: 58.03875000000001
cost: 0.11595304167377862



date: 2015-04-01 00:00:00
watts: 268146975.194906
top: 7.448527088747389
reward: 6182.224999999999
bottom: 61.82225
cost: 0.12048295053556592



date: 2015-03-01 00:00:00
watts: 279509317.13445866
top: 7.764147698179408
reward: 6509.275
bottom: 65.09275
cost: 0.1192782252736197



date: 2015-02-01 00:00:00
watts: 273364128.44289625
top: 7.593448012302674
reward: 5674.95
bottom: 56.7495
cost: 0.13380643022938835



date: 2015-01-01 00:00:00
watts: 228416715.0040969
top: 6.344908750113803
reward: 7853.400000000001
bottom: 78.534
cost: 0.08079187040153059



date: 2014-12-01 00:00:00
watts: 229911500.62301028
top: 6.386430572861397
reward: 9484.15
bottom: 94.8415
cost: 0.06733793300255055



date: 2014-11-01 00:00:00
watts: 253794661.7617592
top: 7.049851715604423
reward: 8119.199999999999
bottom: 81.192
cost: 0.0868293885555772



date: 2014-10-01 00:00:00
watts: 265457311.5235423
top: 7.373814208987287
reward: 9590.375
bottom: 95.90375
cost: 0.07688765255777055



date: 2014-09-01 00:00:00
watts: 242289796.26184145
top: 6.730272118384486
reward: 11893.125
bottom: 118.93124999999999
cost: 0.056589602130512257



date: 2014-08-01 00:00:00
watts: 214998024.2239167
top: 5.972167339553242
reward: 14872.7
bottom: 148.727
cost: 0.0401552330078146



date: 2014-07-01 00:00:00
watts: 144972397.09997272
top: 4.027011030554799
reward: 16020.150000000001
bottom: 160.2015
cost: 0.025137161827790615



date: 2014-06-01 00:00:00
watts: 165466099.51420173
top: 4.59628054206116
reward: 15755.725
bottom: 157.55725
cost: 0.029172129762744393



date: 2014-05-01 00:00:00
watts: 118184164.70357631
top: 3.282893463988231
reward: 11444.0
bottom: 114.44
cost: 0.028686590912165598



date: 2014-04-01 00:00:00
watts: 89515770.17790638
top: 2.4865491716085106
reward: 11959.375
bottom: 119.59375
cost: 0.02079163143231574



date: 2014-03-01 00:00:00
watts: 67832431.66462924
top: 1.8842342129063678
reward: 14140.25
bottom: 141.4025
cost: 0.013325324608167237



date: 2014-02-01 00:00:00
watts: 48510408.85112833
top: 1.347511356975787
reward: 20814.5
bottom: 208.14499999999998
cost: 0.00647390692534429



date: 2014-01-01 00:00:00
watts: 33867683.39801674
top: 0.940768983278243
reward: 19285.0
bottom: 192.85
cost: 0.0048782420704083125



date: 2013-12-01 00:00:00
watts: 18150191.088401783
top: 0.5041719746778274
reward: 23896.25
bottom: 238.9625
cost: 0.0021098372116036086



date: 2013-11-01 00:00:00
watts: 9497910.859630246
top: 0.2638308572119513
reward: 5154.5
bottom: 51.545
cost: 0.005118456828246218



date: 2013-10-01 00:00:00
watts: 5571700.514986288
top: 0.15476945874961912
reward: 3304.5
bottom: 33.045
cost: 0.004683596875461314



date: 2013-09-01 00:00:00
watts: 2498803.4503204687
top: 0.06941120695334636
reward: 3458.5
bottom: 34.585
cost: 0.002006974322780002



date: 2013-08-01 00:00:00
watts: 1052487.3195491692
top: 0.029235758876365814
reward: 2600.0
bottom: 26.0
cost: 0.0011244522644756083



date: 2013-07-01 00:00:00
watts: 655492.191785665
top: 0.018208116438490695
reward: 2201.25
bottom: 22.012500000000003
cost: 0.0008271716723902643



date: 2013-06-01 00:00:00
watts: 360675.8189920034
top: 0.010018772749777872
reward: 3232.5000000000005
bottom: 32.325
cost: 0.0003099388321663688



date: 2013-05-01 00:00:00
watts: 337275.8579785321
top: 0.009368773832737003
reward: 2924.75
bottom: 29.247500000000002
cost: 0.0003203273384985726



date: 2013-04-01 00:00:00
watts: 632947.6479018882
top: 0.017581879108385785
reward: 2600.0
bottom: 26.0
cost: 0.0006762261195532994



date: 2013-03-01 00:00:00
watts: 1540956.6483269911
top: 0.042804351342416426
reward: 862.5
bottom: 8.625
cost: 0.004962823344048281



date: 2013-02-01 00:00:00
watts: 933754.3902910165
top: 0.02593762195252824
reward: 512.475
bottom: 5.124750000000001
cost: 0.0050612462954345554



date: 2013-01-01 00:00:00
watts: 226023.2656928202
top: 0.006278424047022784
reward: 332.6025
bottom: 3.3260250000000005
cost: 0.0018876659216400305



date: 2012-12-01 00:00:00
watts: 2072074.2776353077
top: 0.057557618823203
reward: 314.05
bottom: 3.1405
cost: 0.01832753345747588



date: 2012-11-01 00:00:00
watts: 8421617.162940226
top: 0.233933810081673
reward: 264.25
bottom: 2.6425
cost: 0.08852745887669744



date: 2012-10-01 00:00:00
watts: 3755551.160036808
top: 0.104320865556578
reward: 310.0
bottom: 3.1000000000000005
cost: 0.03365189211502516



date: 2012-09-01 00:00:00
watts: 5003701.455768462
top: 0.13899170710467953
reward: 249.13500000000002
bottom: 2.49135
cost: 0.05578971525665985



date: 2012-08-01 00:00:00
watts: 3663837.39225015
top: 0.1017732608958375
reward: 238.7575
bottom: 2.387575
cost: 0.042626204787634944



date: 2012-07-01 00:00:00
watts: 3604266.3000171003
top: 0.10011850833380835
reward: 165.725

In [99]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
# from datetime import timedelta
# df['avg'] = (df['date'] - timedelta(days=15)).dt.to_period('Q')
df.sample(10)

          date      cost
60  2018-10-01  0.176280
59  2018-11-01  0.158280
102 2015-04-01  0.120483
51  2019-07-01  0.127757
148 2011-06-01  0.037854
96  2015-10-01  0.116216
10  2022-12-01  0.477162
56  2019-02-01  0.284780
145 2011-09-01  0.044471
5   2023-05-01  0.283120

In [100]:
# avg_data = df.groupby('avg')['cost'].mean().reset_index()
# avg_data

In [101]:
df.to_csv('cost.csv', index=False)