In [57]:
import pandas as pd
import numpy as np
import os
import gzip
import pickle
import re
import copy
from tqdm import tqdm
import time
import json
from datetime import datetime, timedelta
# pd.set_option('display.max_columns', 5000)
pd.set_option('display.max_rows', 100)

In [58]:
data = pd.read_csv('../5_processing_extracted_data/plotdata.csv') # date,row_index,hardware_name,TH/J,max_efficiency,year

# Convert the 'date' column to a datetime format
data['date'] = pd.to_datetime(data['date'])

# keep only data from 2011 onwards
data = data[data['date'] >= '2011-01-02']

# Create a 'month' column
data['month'] = (data['date']).dt.to_period('M')

# Group by 'month' and calculate the mean of 'TH/J'
quarterly_data = data.groupby('month')['TH/J'].mean().reset_index()

# Convert 'month' back to datetime (first day of the month)
quarterly_data['month'] = quarterly_data['month'].dt.to_timestamp()


# monthly_efficiency contains:
# Date,ln(P_max),Data monthly average,Model ln(P_eff)
# 2011-04-01,-12.485786548332777,1.6612383008356546e-06,1.5657608695648479e-06
monthly_efficiency = quarterly_data

In [59]:
# hashrate,coins_per_block,date
# 4318540.0,50.0,2009-01-01
BitcoinData = pd.read_csv('./BitcoinData/BitcoinData.csv')
BitcoinData['date'] = pd.to_datetime(BitcoinData['date'])

In [60]:
# Start,End,Open,High,Low,Close,Volume,Market Cap
# 2024-03-08,2024-03-09,66871.2,69451.15,66398.03,68202.87,71117263448.78049,1329444482209.993
price = pd.read_csv('../../pricehistory/price_full.csv') 



df1 = pd.DataFrame(columns=['date', 'price'])
df3 = pd.DataFrame(columns=['date', 'efficiency'])


df1['date'] = pd.to_datetime(price['Start'])
df1['price'] = price['Close']

df3['date'] = pd.to_datetime(monthly_efficiency['month'], format='%Y-%m-%d')
df3['efficiency'] = monthly_efficiency['TH/J']*1e12

joined = pd.merge(df1, BitcoinData, on='date', how='inner')
joined = pd.merge(joined, df3, on='date', how='inner')
joined = joined.dropna()

In [61]:
pd.set_option('display.max_rows', None)
joined.head(3)

        date     price      hashrate  coins_per_block    efficiency
0 2023-12-01  38658.06  5.008642e+20             6.25  3.441260e+10
1 2023-10-01  27978.10  4.410675e+20             6.25  2.388003e+10
2 2023-09-01  25816.57  4.023850e+20             6.25  2.222254e+10

In [62]:
df = joined

In [63]:
df['date'] = pd.to_datetime(df['date']).dt.date
df.head(3)

         date     price      hashrate  coins_per_block    efficiency
0  2023-12-01  38658.06  5.008642e+20             6.25  3.441260e+10
1  2023-10-01  27978.10  4.410675e+20             6.25  2.388003e+10
2  2023-09-01  25816.57  4.023850e+20             6.25  2.222254e+10

In [64]:
max_efficiency_df = pd.read_csv('../../hardwarelist/Bitcoin max updated2.csv', usecols=['date', 'max (TH/J)'])
max_efficiency_df['date'] = pd.to_datetime(max_efficiency_df['date']).dt.date
# Create a 'month' column
max_efficiency_df['month'] = pd.to_datetime(max_efficiency_df['date']).dt.to_period('M')
# Group by 'month' and calculate the mean of 'TH/J'
max_efficiency_df = max_efficiency_df.groupby('month')['max (TH/J)'].mean().reset_index()
# Convert 'month' back to datetime (first day of the month)
max_efficiency_df['date'] = max_efficiency_df['month'].dt.to_timestamp()
max_efficiency_df = max_efficiency_df.rename(columns={'max (TH/J)': 'max_efficiency'})
max_efficiency_df.drop(columns=["month"], inplace=True)
max_efficiency_df.tail(5)

     max_efficiency       date
164          0.0465 2022-09-01
165          0.0465 2022-10-01
166          0.0465 2022-11-01
167          0.0465 2022-12-01
168          0.0465 2023-01-01

In [65]:
# Merge with max efficiency
df['date'] = df['date'].astype(str)
max_efficiency_df['date'] = max_efficiency_df['date'].astype(str)
df = pd.merge(df, max_efficiency_df, on='date', how='left')

In [66]:
# Convert dates to end of the month
df['date'] = pd.to_datetime(df['date']) + pd.offsets.MonthEnd(0)

In [67]:
df.to_csv('monthly_stuff.csv', index=False)

In [68]:
# import pandas as pd
# pd.set_option('display.max_rows', 5000)
# df = pd.read_csv('monthly_stuff.csv')
# df["efficiency"] = df["efficiency"]/1e12
# df = df[["date","efficiency","max_efficiency"]]
# # backward fill max efficiency
# df['max_efficiency'] = df['max_efficiency'].fillna(method='bfill')
# df.to_csv('monthly_efficiency.csv', index=False)