In [27]:
import pandas as pd
import numpy as np
import os
import gzip
import pickle
import re
import copy
from tqdm import tqdm
import time
import json
from datetime import datetime, timedelta
# pd.set_option('display.max_columns', 5000)
pd.set_option('display.max_rows', 100)

In [28]:
data = pd.read_csv('../5_processing_extracted_data/plotdata.csv') # date,row_index,hardware_name,TH/J,max_efficiency,year

# Convert the 'date' column to a datetime format
data['date'] = pd.to_datetime(data['date'])

# keep only data from 2011 onwards
data = data[data['date'] >= '2011-01-02']

# Create a 'month' column
data['month'] = (data['date']).dt.to_period('M')

# Group by 'month' and calculate the mean of 'TH/J'
quarterly_data = data.groupby('month')['TH/J'].mean().reset_index()

# Convert 'month' back to datetime (first day of the month)
quarterly_data['month'] = quarterly_data['month'].dt.to_timestamp()

quarterly_data.to_csv('monthly_efficiency.csv', index=False)

In [29]:
# Timestamp Graph,Intervals (Row),Network hashrate (TH/s),Bitcoins per block (BTC)
# 02/01/2009,1,4.97E-08,50
BitcoinData = pd.read_csv('BitcoinData.csv') 

df2 = pd.DataFrame(columns=['date', 'hashrate','coins_per_block'])

df2['date'] = pd.to_datetime(BitcoinData['Timestamp Graph'], format='%d/%m/%Y')
df2['hashrate'] = BitcoinData['Network hashrate (TH/s)']*1e12
df2['coins_per_block'] = BitcoinData['Bitcoins per block (BTC)']

df2 = df2.dropna()
df2

           date      hashrate  coins_per_block
0    2009-01-02  4.970000e+04            50.00
1    2009-01-05  4.970000e+04            50.00
2    2009-01-08  6.960000e+05            50.00
3    2009-01-11  4.420000e+06            50.00
4    2009-01-14  6.310000e+06            50.00
...         ...           ...              ...
1638 2022-06-18  2.350000e+20             6.25
1639 2022-06-21  2.260000e+20             6.25
1640 2022-06-24  1.900000e+20             6.25
1641 2022-06-27  2.000000e+20             6.25
1642 2022-06-30  2.510000e+20             6.25

[1643 rows x 3 columns]

In [30]:
hashrate = json.load(open('hashrate.json'))

# x	y
# 1231545600000	1.065220e-07
BitcoinData2 = pd.DataFrame(hashrate["hash-rate"])
BitcoinData2["date"] = pd.to_datetime(BitcoinData2["x"], unit='ms')
BitcoinData2["hashrate"] = BitcoinData2["y"]*1e12
BitcoinData2 = BitcoinData2.drop(columns=["x", "y"])

In [31]:
BitcoinData2

           date      hashrate
0    2009-01-10  1.065220e+05
1    2009-01-14  2.521021e+06
2    2009-01-18  5.588855e+06
3    2009-01-22  5.681174e+06
4    2009-01-26  6.270595e+06
...         ...           ...
1384 2024-03-08  5.928970e+20
1385 2024-03-12  6.294408e+20
1386 2024-03-16  5.963760e+20
1387 2024-03-20  6.010169e+20
1388 2024-03-24  6.003264e+20

[1389 rows x 2 columns]

In [32]:
temp = BitcoinData2[BitcoinData2["date"] > df2["date"].max()]
temp

           date      hashrate
1230 2022-07-01  2.146114e+20
1231 2022-07-05  2.179713e+20
1232 2022-07-09  2.061507e+20
1233 2022-07-13  2.059578e+20
1234 2022-07-17  1.968833e+20
...         ...           ...
1384 2024-03-08  5.928970e+20
1385 2024-03-12  6.294408e+20
1386 2024-03-16  5.963760e+20
1387 2024-03-20  6.010169e+20
1388 2024-03-24  6.003264e+20

[159 rows x 2 columns]

In [33]:


# df2 is not defined for values above 2022
df2 = pd.concat([df2, temp])

# if block is nan, it should be 6.25
df2['coins_per_block'] = df2['coins_per_block'].fillna(6.25)

In [34]:
df2

           date      hashrate  coins_per_block
0    2009-01-02  4.970000e+04            50.00
1    2009-01-05  4.970000e+04            50.00
2    2009-01-08  6.960000e+05            50.00
3    2009-01-11  4.420000e+06            50.00
4    2009-01-14  6.310000e+06            50.00
...         ...           ...              ...
1384 2024-03-08  5.928970e+20             6.25
1385 2024-03-12  6.294408e+20             6.25
1386 2024-03-16  5.963760e+20             6.25
1387 2024-03-20  6.010169e+20             6.25
1388 2024-03-24  6.003264e+20             6.25

[1802 rows x 3 columns]

In [35]:
# for each month in df2, get the monthly average and store it with the date being the first day of the month

# Create a 'month' column
from datetime import timedelta
df2['month'] = (df2['date']).dt.to_period('M')

# Group by 'month' and calculate the mean
df2 = df2.groupby('month')[["hashrate","coins_per_block"]].mean().reset_index()

# Convert 'month' back to datetime (first day of the month)
df2['date'] = df2['month'].dt.to_timestamp()
df2 = df2.drop(columns=["month"])
df2

         hashrate  coins_per_block       date
0    4.318540e+06            50.00 2009-01-01
1    6.009000e+06            50.00 2009-02-01
2    5.623000e+06            50.00 2009-03-01
3    5.712000e+06            50.00 2009-04-01
4    5.710000e+06            50.00 2009-05-01
..            ...              ...        ...
178  4.722977e+20             6.25 2023-11-01
179  5.008642e+20             6.25 2023-12-01
180  5.166878e+20             6.25 2024-01-01
181  5.686831e+20             6.25 2024-02-01
182  5.969255e+20             6.25 2024-03-01

[183 rows x 3 columns]

In [36]:
# df2.to_csv('BitcoinData2.csv', index=False)

In [37]:
# Start,End,Open,High,Low,Close,Volume,Market Cap
# 2024-03-08,2024-03-09,66871.2,69451.15,66398.03,68202.87,71117263448.78049,1329444482209.993
price = pd.read_csv('../../pricehistory/price_full.csv') 



# Date,ln(P_max),Data monthly average,Model ln(P_eff)
# 2011-04-01,-12.485786548332777,1.6612383008356546e-06,1.5657608695648479e-06
efficiency = pd.read_csv('monthly_efficiency.csv') 

df1 = pd.DataFrame(columns=['date', 'price'])
df3 = pd.DataFrame(columns=['date', 'efficiency'])


df1['date'] = pd.to_datetime(price['Start'])
df1['price'] = price['Close']

df3['date'] = pd.to_datetime(efficiency['month'], format='%Y-%m-%d')
df3['efficiency'] = efficiency['TH/J']*1e12

joined = pd.merge(df1, df2, on='date', how='inner')
joined = pd.merge(joined, df3, on='date', how='inner')
joined = joined.dropna()

In [38]:
pd.set_option('display.max_rows', None)
joined.sample(10)

          date         price      hashrate  coins_per_block    efficiency
113 2014-05-01    457.760000  7.439091e+16            25.00  7.282989e+08
29  2021-05-01  57793.518868  1.592000e+20             6.25  1.534508e+10
124 2013-06-01    129.300000  1.490000e+14            25.00  4.497314e+08
129 2013-01-01     13.304100  2.175000e+13            25.00  1.166274e+08
11  2022-11-01  20481.554900  2.610995e+20             6.25  1.744762e+10
147 2011-07-01     15.397000  1.253636e+13            50.00  1.712089e+06
53  2019-05-01   5388.818933  5.153000e+19            12.50  9.433872e+09
4   2023-06-01  26806.980000  3.699255e+20             6.25  2.203848e+10
106 2014-12-01    379.366000  2.845000e+17            25.00  1.237387e+09
63  2018-07-01   6364.401842  3.866000e+19            12.50  8.366957e+09

In [39]:
# # joined["reward"] = joined["block"]*joined["price"]

# data = []

# for i in range(len(joined)):
#     date = joined['date'].iloc[i]
#     hashrate = joined['hashrate'].iloc[i]
#     efficiency = joined['efficiency'].iloc[i]
#     # reward = joined['reward'].iloc[i]
#     coins_per_block = joined['coins_per_block'].iloc[i]
#     price_per_coin = joined['price'].iloc[i]

#     aux = 2.0
#     electricity_cost = 0.05/(1000*3600)
#     constant = 6
#     watts = hashrate/efficiency
#     top = watts*aux*electricity_cost
#     coins_per_second = coins_per_block/600
#     bottom = constant*coins_per_second
#     cost_per_coin = top/bottom



#     joules_per_coin = watts/coins_per_block
#     joules_per_dollar_earned = joules_per_coin/price_per_coin

#     data.append([date, cost_per_coin, watts, coins_per_block, joules_per_coin,joules_per_dollar_earned])
    
#     # print(f"date: {date}")
#     # # print(f"hashrate: {hashrate}")
#     # # print(f"efficiency: {efficiency}")
#     # print(f"watts: {watts}")
#     # print(f"top: {top}")
#     # # print(f"reward: {reward}")
#     # print(f"bottom: {bottom}")
#     # print(f"cost: {cost_per_coin}")
#     # print("\n\n")

# df = pd.DataFrame(data, columns=['date', 'cost_per_coin', 'watts', 'coins_per_block', 'joules_per_coin','joules_per_dollar_earned'])

In [40]:
# joined = joined.drop("price", axis=1)
df = joined

In [41]:
# df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
# from datetime import timedelta
# df['avg'] = (df['date'] - timedelta(days=15)).dt.to_period('Q')
# df.sample(10)

In [42]:
# avg_data = df.groupby('avg')['cost'].mean().reset_index()
# avg_data

In [43]:
df['date'] = pd.to_datetime(df['date']).dt.date

In [44]:
df.sample(1)

          date         price      hashrate  coins_per_block    efficiency
24  2021-10-01  48080.372838  1.452000e+20             6.25  1.864925e+10

In [45]:
max_efficiency_df = pd.read_csv('../../hardwarelist/Bitcoin max updated2.csv', usecols=['date', 'max (TH/J)'])
max_efficiency_df['date'] = pd.to_datetime(max_efficiency_df['date']).dt.date
# Create a 'month' column
max_efficiency_df['month'] = pd.to_datetime(max_efficiency_df['date']).dt.to_period('M')
# Group by 'month' and calculate the mean of 'TH/J'
max_efficiency_df = max_efficiency_df.groupby('month')['max (TH/J)'].mean().reset_index()
# Convert 'month' back to datetime (first day of the month)
max_efficiency_df['date'] = max_efficiency_df['month'].dt.to_timestamp()
max_efficiency_df = max_efficiency_df.rename(columns={'max (TH/J)': 'max_efficiency'})
max_efficiency_df.drop(columns=["month"], inplace=True)
max_efficiency_df.tail(5)

     max_efficiency       date
164          0.0465 2022-09-01
165          0.0465 2022-10-01
166          0.0465 2022-11-01
167          0.0465 2022-12-01
168          0.0465 2023-01-01

In [46]:
general_df = pd.read_csv('../../bitcoinforum_general/5_processing_extracted_data/general.csv')
# keep only dates after 2011
general_df['date'] = pd.to_datetime(general_df['date']).dt.date
general_df = general_df[general_df['date'] >= datetime(2011, 1, 1).date()]
general_df.tail(5)

           date  speculation  adoption  altcoins      none  posts_count
166  2023-11-01     0.549451  0.376984  0.329115  0.342809     0.101586
167  2023-12-01     0.685197  0.280722  0.309755  0.365663     0.108028
168  2024-01-01     0.707851  0.315094  0.308360  0.299778     0.108523
169  2024-02-01     0.604396  0.291146  0.175528  0.441843     0.075818
170  2024-03-01     0.886700  0.031819  0.118027  0.573713     0.055996

In [47]:
# Merge with max efficiency
df['date'] = df['date'].astype(str)
max_efficiency_df['date'] = max_efficiency_df['date'].astype(str)
df = pd.merge(df, max_efficiency_df, on='date', how='left')

# Merge with general
# df['date'] = pd.to_datetime(df['date']).dt.date
# general_df['date'] = pd.to_datetime(general_df['date']).dt.date
df['date'] = df['date'].astype(str)
general_df['date'] = general_df['date'].astype(str)
df = pd.merge(df, general_df, on='date', how='left').fillna(method='ffill')

C:\Users\Timothe\AppData\Local\Temp\ipykernel_82424\787505272.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = pd.merge(df, general_df, on='date', how='left').fillna(method='ffill')

In [48]:
sentiment_df = pd.read_csv('../../bitcoinforum_general/5_processing_extracted_data/normalized_values_sentiment.csv')
sentiment_df['date'] = pd.to_datetime(sentiment_df['month']).dt.date
sentiment_df.drop(columns=["month","strongly negative","strongly positive"], inplace=True)
sentiment_df = sentiment_df[sentiment_df['date'] >= datetime(2011, 1, 1).date()]
sentiment_df['date'] = sentiment_df['date'].astype(str)
df = pd.merge(df, sentiment_df, on='date', how='left').fillna(method='ffill')

C:\Users\Timothe\AppData\Local\Temp\ipykernel_82424\3903061040.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = pd.merge(df, sentiment_df, on='date', how='left').fillna(method='ffill')

In [49]:
general_old_df = pd.read_csv('../../bitcoinforum_general/5_processing_extracted_data/general_old.csv')
general_old_df['date'] = pd.to_datetime(general_old_df['date']).dt.date
general_old_df = general_old_df[general_old_df['date'] >= datetime(2011, 1, 1).date()]
general_old_df.drop(columns=["posts_count","bitcoin_challenges","bitcoin_technology","bitcoin_adoption","educational_resources","altcoins"], inplace=True)
general_old_df['date'] = general_old_df['date'].astype(str)
general_old_df.tail(5)

           date  optimistic_speculation  pessimistic_speculation
166  2023-11-01                0.711246                 0.127755
167  2023-12-01                0.678969                 0.280989
168  2024-01-01                0.721154                 0.298447
169  2024-02-01                0.717532                 0.036391
170  2024-03-01                1.000000                 0.377204

In [50]:
df = pd.merge(df, general_old_df, on='date', how='left').fillna(method='ffill')

C:\Users\Timothe\AppData\Local\Temp\ipykernel_82424\1782249016.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = pd.merge(df, general_old_df, on='date', how='left').fillna(method='ffill')

In [51]:
# Convert dates to end of the month
df['date'] = pd.to_datetime(df['date']) + pd.offsets.MonthEnd(0)

In [52]:
df.to_csv('monthly_stuff.csv', index=False)

In [6]:
import pandas as pd
pd.set_option('display.max_rows', 5000)
df = pd.read_csv('monthly_stuff.csv')
df["efficiency"] = df["efficiency"]/1e12
df[["date","efficiency","max_efficiency"]]

           date  efficiency  max_efficiency
0    2023-10-31    0.023880             NaN
1    2023-09-30    0.022223             NaN
2    2023-08-31    0.018209             NaN
3    2023-07-31    0.018302             NaN
4    2023-06-30    0.022038             NaN
5    2023-05-31    0.018392             NaN
6    2023-04-30    0.016545             NaN
7    2023-03-31    0.017792             NaN
8    2023-02-28    0.024040             NaN
9    2023-01-31    0.016595        0.046500
10   2022-12-31    0.013835        0.046500
11   2022-11-30    0.017448        0.046500
12   2022-10-31    0.020635        0.046500
13   2022-09-30    0.013846        0.046500
14   2022-08-31    0.017117        0.046500
15   2022-07-31    0.017609        0.046500
16   2022-06-30    0.017947        0.033900
17   2022-05-31    0.017735        0.033900
18   2022-04-30    0.015909        0.033900
19   2022-03-31    0.017327        0.033900
20   2022-02-28    0.018454        0.033900
21   2022-01-31    0.017579        0.033900
22   2021-12-31    0.018360        0.033900
23   2021-11-30    0.017953        0.033900
24   2021-10-31    0.018649        0.033900
25   2021-09-30    0.018573        0.033900
26   2021-08-31    0.018284        0.033900
27   2021-07-31    0.015285        0.033900
28   2021-06-30    0.015747        0.033900
29   2021-05-31    0.015345        0.033900
30   2021-04-30    0.012617        0.033900
31   2021-03-31    0.012556        0.033900
32   2021-02-28    0.015055        0.033900
33   2021-01-31    0.013227        0.033900
34   2020-12-31    0.014259        0.033900
35   2020-11-30    0.012893        0.033900
36   2020-10-31    0.009826        0.033900
37   2020-09-30    0.016262        0.033900
38   2020-08-31    0.016579        0.033900
39   2020-07-31    0.017735        0.033900
40   2020-06-30    0.015361        0.033900
41   2020-05-31    0.013762        0.033900
42   2020-04-30    0.013846        0.033900
43   2020-03-31    0.012722        0.027797
44   2020-02-29    0.014763        0.025300
45   2020-01-31    0.012601        0.025300
46   2019-12-31    0.013043        0.025300
47   2019-11-30    0.013110        0.025300
48   2019-10-31    0.012428        0.025300
49   2019-09-30    0.012632        0.025300
50   2019-08-31    0.011727        0.025300
51   2019-07-31    0.010166        0.025300
52   2019-06-30    0.009473        0.025300
53   2019-05-31    0.009434        0.025300
54   2019-04-30    0.009676        0.023887
55   2019-03-31    0.010591        0.020000
56   2019-02-28    0.008641        0.020000
57   2019-01-31    0.008453        0.020000
58   2018-12-31    0.008820        0.020000
59   2018-11-30    0.009236        0.015384
60   2018-10-31    0.009570        0.015384
61   2018-09-30    0.009612        0.013209
62   2018-08-31    0.008392        0.011689
63   2018-07-31    0.008367        0.010210
64   2018-06-30    0.008706        0.010210
65   2018-05-31    0.009181        0.010210
66   2018-04-30    0.008987        0.010210
67   2018-03-31    0.008288        0.010210
68   2018-02-28    0.008983        0.010210
69   2018-01-31    0.008066        0.010210
70   2017-12-31    0.008102        0.010210
71   2017-11-30    0.007057        0.010210
72   2017-10-31    0.006827        0.010200
73   2017-09-30    0.005345        0.010200
74   2017-08-31    0.006480        0.010200
75   2017-07-31    0.005461        0.010200
76   2017-06-30    0.004767        0.010200
77   2017-05-31    0.006346        0.010200
78   2017-04-30    0.005852        0.010200
79   2017-03-31    0.006266        0.010200
80   2017-02-28    0.005216        0.010200
81   2017-01-31    0.005674        0.010200
82   2016-12-31    0.004450        0.010200
83   2016-11-30    0.005259        0.010200
84   2016-10-31    0.005272        0.010200
85   2016-09-30    0.005199        0.010200
86   2016-08-31    0.005385        0.010200
87   2016-07-31    0.004165        0.010200
88   2016-06-30    0.003516        0.010200
89   2016-05-31    0.002277        0.007140
90   2016-04-30    0.002148        0.007140
91   2016-03-31    0.002390        0.007140
92   2016-02-29    0.002097        0.007140
93   2016-01-31    0.002445        0.007140
94   2015-12-31    0.002109        0.007140
95   2015-11-30    0.002006        0.007140
96   2015-10-31    0.001731        0.007140
97   2015-09-30    0.001786        0.005827
98   2015-08-31    0.001462        0.005350
99   2015-07-31    0.001335        0.005350
100  2015-06-30    0.001415        0.005350
101  2015-05-31    0.001451        0.005350
102  2015-04-30    0.001235        0.005350
103  2015-03-31    0.001292        0.005350
104  2015-02-28    0.001315        0.005350
105  2015-01-31    0.001367        0.005350
106  2014-12-31    0.001237        0.005350
107  2014-11-30    0.001055        0.005350
108  2014-10-31    0.001042        0.005350
109  2014-09-30    0.000980        0.004255
110  2014-08-31    0.001026        0.003160
111  2014-07-31    0.000875        0.002374
112  2014-06-30    0.000710        0.002000
113  2014-05-31    0.000728        0.002000
114  2014-04-30    0.000660        0.002000
115  2014-03-31    0.000614        0.001963
116  2014-02-28    0.000556        0.001429
117  2014-01-31    0.000620        0.001429
118  2013-12-31    0.000639        0.001429
119  2013-11-30    0.000713        0.001274
120  2013-10-31    0.000537        0.001250
121  2013-09-30    0.000658        0.001250
122  2013-08-31    0.000567        0.001250
123  2013-07-31    0.000467        0.001250
124  2013-06-30    0.000450        0.001250
125  2013-05-31    0.000132        0.001250
126  2013-04-30    0.000098        0.001250
127  2013-03-31    0.000026        0.001250
128  2013-02-28    0.000048        0.001250
129  2013-01-31    0.000117        0.000734
130  2012-12-31    0.000003        0.000250
131  2012-11-30    0.000004        0.000106
132  2012-10-31    0.000007        0.000023
133  2012-09-30    0.000003        0.000023
134  2012-08-31    0.000005        0.000023
135  2012-07-31    0.000005        0.000023
136  2012-06-30    0.000004        0.000023
137  2012-05-31    0.000003        0.000023
138  2012-04-30    0.000005        0.000023
139  2012-03-31    0.000006        0.000023
140  2012-02-29    0.000002        0.000023
141  2012-01-31    0.000002        0.000023
142  2011-12-31    0.000003        0.000023
143  2011-11-30    0.000002        0.000023
144  2011-10-31    0.000002        0.000023
145  2011-09-30    0.000002        0.000023
146  2011-08-31    0.000002        0.000006
147  2011-07-31    0.000002        0.000004
148  2011-06-30    0.000002        0.000004
149  2011-05-31    0.000002        0.000004
150  2011-04-30    0.000002        0.000004
151  2011-03-31    0.000001        0.000004
152  2011-02-28    0.000002        0.000004