In [4]:
import pandas as pd
from datetime import datetime

In [5]:

max_efficiency = pd.read_csv('Bitcoin max updated.csv') # rows are date,max (TH/J),useless,archaicity (TH/J)
max_efficiency

            date  max (TH/J)   useless  archaicity (TH/J)
0     2009-01-01    0.000001  0.000001           0.000001
1     2009-01-02    0.000001  0.000001           0.000001
2     2009-01-03    0.000001  0.000001           0.000001
3     2009-01-04    0.000001  0.000001           0.000001
4     2009-01-05    0.000001  0.000001           0.000001
...          ...         ...       ...                ...
5132  2023-01-20    0.046500  0.046500           0.046500
5133  2023-01-21    0.046500  0.046500           0.046500
5134  2023-01-22    0.046500  0.046500           0.046500
5135  2023-01-23    0.046500  0.046500           0.046500
5136  2023-01-24    0.046500  0.046500           0.046500

[5137 rows x 4 columns]

In [6]:


# loop through rows
for i in range(len(max_efficiency)):
    # get the date
    date = max_efficiency.iloc[i]['date']

    date_format = "%Y-%m-%d"
    updates = [
        ("2012-11-19", 0.00025), # BFL
        ("2013-01-16", 	1250/1000000), # jalapeno
        ("2013-06-22", 0.0004), # KNC
        ("2013-09-18", 	0.000909), #hashfast
        ("2013-11-26", 	0.001429), # KNC neptune
        ("2017-11-01", 	0.01021), # antminer s9
        ("2018-09-20", 	15384/1000000), # microbt whatsminer m10 https://bitcointalk.org/index.php?topic=5033998.0
        ("2018-08-07", 	12121/1000000), # innosilicon t2 turbo
    ]
    for (update_date, update_value) in updates:
        if datetime.strptime(date, date_format) > datetime.strptime(update_date, date_format):
            max_efficiency.loc[i, 'max (TH/J)'] = max(max_efficiency.loc[i, 'max (TH/J)'], update_value)

max_efficiency.to_csv('pmaxv1.csv', index=False)