In [3]:
import pandas as pd
import os
import gzip
import pickle
import openai
import torch.nn.functional as F
import torch

In [6]:
df_hardware_name = pd.read_csv('datasets/extracted/hardware_name.csv', index_col=0)

# sort by date
df_hardware_name = df_hardware_name.sort_values(by=['date'])
df_hardware_name

          date                     hardware_name
16  2013-03-25                     BTCFPGA bASIC
20  2013-05-23                      Avalon Chips
19  2013-06-25                            Avalon
15  2013-07-21                           BitFury
4   2013-09-25                            Avalon
13  2013-10-23                       Bitmine Rig
9   2013-11-26                       Antminer S1
1   2013-11-29                        AMD R9 270
5   2013-12-30                       Antminer U1
17  2014-02-08                      Prospero X-1
12  2014-03-31                       Antminer S1
8   2014-04-15                           Bitfury
18  2014-09-02                       Antminer S9
6   2014-09-13                       Antminer S1
2   2015-03-08                           GTX 660
14  2017-10-09                     AvalonMiner 1
3   2020-12-30                Canaan Avalon 1066
10  2021-05-06                               S19
0   2021-10-05                            Avalon
11  2022-01-04  Innosilicon T2T, T2TZ, T2T Turbo
7   2022-03-01                                S9

In [7]:
df_hardware_price = pd.read_csv('datasets/extracted/hardware_price.csv', index_col=0)

# sort by date
df_hardware_price = df_hardware_price.sort_values(by=['date'])
df_hardware_price

          date                 hardware_price
19  2013-03-26                      76.46 BTC
1   2013-07-04                          60EUR
0   2013-09-26                       709 Euro
11  2013-10-21                        1.35BTC
3   2013-10-23                    $139 Paypal
5   2013-11-27                           $495
12  2014-02-05                        $20 ea.
18  2014-03-08             0.065 bitcoin each
10  2014-03-18                           $175
20  2014-04-26  $114.73/single 11Ghash/s unit
17  2014-05-22                          $1650
13  2014-05-23                         $3,200
14  2014-06-02                           $278
2   2014-10-06                        0.09BTC
7   2017-01-13                 $11.03 per fan
6   2017-10-27                            $12
8   2019-11-22                         98 usd
15  2020-01-14                $134 + shipping
4   2022-07-15                           $175
9   2022-10-25                            $50
16  2023-07-18                $10,000-$15,000