In [14]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('hardware_merged.csv')

# Sort the dataframe by efficiency (Mhash/J) in descending order
df_sorted = df.sort_values(by='Mhash/J', ascending=True)

In [15]:
df_sorted

               hardware_name       Mhash/J
41                   8400 gs      0.013000
45                    9400gt      0.067000
220                      ion      0.067000
265           quadro nvs 295      0.070000
0                       3410      0.074000
..                       ...           ...
251   microbt whatsminer m60  50263.004091
103             antminer t21  52631.578947
252  microbt whatsminer m60s  54054.054054
86              antminer s21  56338.028169
87          antminer s21 hyd  62500.000000

[292 rows x 2 columns]

In [16]:


# Initialize the list to store the hardware that meets the criteria
selected_hardware = []

# Initialize the variable to keep track of the previous best efficiency
previous_best_efficiency = 0

# Iterate through the sorted dataframe
for index, row in df_sorted.iterrows():
    current_efficiency = row['Mhash/J']
    # Check if the current efficiency offers at least a 30% improvement
    if current_efficiency >= previous_best_efficiency * 1.3:
        selected_hardware.append({
            'hardware_name': row['hardware_name'],
            'Mhash/J': row['Mhash/J']
        })
        previous_best_efficiency = current_efficiency

# Print the list of selected hardware
df = pd.DataFrame(selected_hardware)
df

                   hardware_name       Mhash/J
0                        8400 gs      0.013000
1                         9400gt      0.067000
2                quadro nvs 135m      0.100000
3                     9600gso512      0.131000
4                         gtx260      0.210000
5                          gt240      0.281000
6                         gtx295      0.378300
7                         gtx560      0.510000
8                          6490m      0.708000
9                           5550      1.041000
10                          5650      1.370000
11                          5850      1.819500
12                          7770      2.379500
13                          7970      3.182600
14        bitforce sha256 single     10.400000
15       bitcoin dominator x5000     14.700000
16                        icarus     19.790000
17                avalon batch 1    107.000000
18            terrahash dx large    140.000000
19               bfl single 'sc'    250.000000
20                   knc jupiter    400.000000
21                      metabank    705.000000
22            rkminer rocket box    937.000000
23  butterflylabs (bfl) jalapeno   1250.000000
24    spondooliestech sp31 yukon   1633.000000
25                  antminer s5+   2247.000000
26                       avalon6   3240.700000
27                 whatsminer m2   4496.500000
28                 ebang ebit e9   5849.582173
29                    bitfury b8   7656.250000
30                  antminer s9i  10156.250000
31                     holic h28  13333.333333
32                ebang ebit e12  17600.000000
33       microbt whatsminer m31s  23602.484472
34     microbt whatsminer m30s++  32258.064516
35      canaan avalon made a1466  46439.628483
36              antminer s21 hyd  62500.000000